{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,

        "UnwrapUcWords": {
            "ignore": [
                "Budgegeria\\Bundle\\IntlBundle\\DependencyInjection\\CompilerPass\\SorterConfigPass::toCamelCase"
            ]
        }
    }
}
