name: "Tests"

on:
  - "push"
  - "pull_request"

jobs:
  tests:

    runs-on: "ubuntu-latest"
    continue-on-error: "${{ matrix.php-versions == '8.6' || matrix.symfony == '8.1.*' }}"
    strategy:
      matrix:
        php-versions: ['8.2', '8.3', '8.4', '8.5']
        symfony:
          - '6.4.*'
          - '7.3.*'
          - '7.4.*'
          - '8.0.*'

    steps:
    - uses: "actions/checkout@v6"

    - name: "Cache Composer packages"
      id: "composer-cache"
      uses: "actions/cache@v4"
      with:
        path: "vendor"
        key: ${{ runner.os }}-php-${{ matrix.php-versions }}-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          "${{ runner.os }}-php-"

    - name: "Setup PHP Action"
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php-versions }}"
        extensions: "intl, xdebug"

    - name: "Adapt dependencies"
      if: ${{ matrix.symfony == '8.1.*' }}
      run: "composer config minimum-stability dev"

    - name: "Install dependencies"
      run: |
        composer require --update-with-all-dependencies \
          symfony/http-kernel:${{ matrix.symfony }} \
          symfony/http-foundation:${{ matrix.symfony }} \
          symfony/dependency-injection:${{ matrix.symfony }} \
          symfony/config:${{ matrix.symfony }} \
          symfony/twig-bundle:${{ matrix.symfony }}

    - name: "Unit + Integration"
      run: "vendor/bin/phpunit"

    - name: "Mutation tests"
      run: "vendor/bin/infection --min-msi=95 --no-progress --threads=5"
